@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Antonio&family=Manrope:wght@600;800&family=Plus+Jakarta+Sans:wght@500;700&family=Red+Hat+Text:wght@700&family=Rubik:wght@400;500&family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio&family=League+Spartan:wght@700&family=Manrope:wght@600;800&family=Plus+Jakarta+Sans:wght@500;700&family=Red+Hat+Text:wght@700&family=Rubik:wght@400;500&family=Space+Mono:wght@700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background-image: url("/Users/mac/Desktop/planets/src/assets/background-stars.svg") ;
  background-color: #070724;
}

